* {
	box-sizing: border-box;
	position: relative;
	accent-color: var(--dark);
	scroll-margin-top: 5em;
}

html,
body {
	margin: 0;
	font-weight: 300;
	color: var(--dark);
	background-color: var(--light);
	line-height: 1.4;
}

img {
	height: auto;
	max-width: 100%;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

a,
button {
	color: var(--dark);
}

[aria-current='page'] {
	font-weight: 500;
	text-decoration: none;
}

h1 {
	font-size: 2em;
}

input {
	padding: 0.75em;
	font-weight: 500;
	color: var(--dark);
	border: solid 2px currentColor;
	background-color: transparent;
	border-radius: 0.5em;
	overflow: hidden;
}

input:focus {
	background-color: var(--lighter);
	outline: none;
}

[type='radio'] {
	margin-inline: 0.1rem 0.5em;
	height: 1.5em;
	width: 1.5em;
	vertical-align: text-bottom;
}

label:has(:checked) {
	font-weight: 500;
}

a:has(svg) {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

ol > li {
	margin-block: 1em;
}
