* {
	box-sizing: border-box;
	position: relative;
}

html,
body {
	margin: 0;
	font-weight: 300;
	color: var(--dark);
	background-color: var(--light);
}

img {
	height: auto;
	max-width: 100%;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

a,
button {
	color: var(--dark);
}

input {
	padding: 0.75em;
	color: var(--dark);
	border: solid 2px currentColor;
	background-color: transparent;
	border-radius: 0;
}

input:focus {
	background-color: white;
	outline: none;
}

a:has(svg) {
	text-decoration: none;
}
