.button {
	display: inline-block;
	padding: 0.75em 1.5em;
	color: var(--dark);
	font-weight: bold;
	text-decoration: none;
	box-shadow: -6px 8px var(--dark);
	border: 2px solid var(--dark);
	transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
	cursor: pointer;
}

.button:hover {
	background-color: white;
	transform: translateY(-1px);
	box-shadow: -8px 10px 0 2px var(--dark);
}
