.backdrop {
	position: fixed;
	inset: 0;
	z-index: 1;
	display: grid;
	place-content: center;
	background-color: #222c;
	padding: 1em;
}

.box,
.button,
.card {
	padding: 2em;
	background-color: var(--light);
	box-shadow: -6px 8px 0 1px var(--dark);
	border: 2px solid var(--dark);
}

.button,
.card {
	display: inline-block;
	padding: 0.75em 1.5em;
	color: var(--dark);
	font-weight: bold;
	text-decoration: none;
	transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
	cursor: pointer;
}

.button:hover,
.card:hover {
	background-color: white;
	transform: translateY(-1px);
	box-shadow: -8px 10px 0 2px var(--dark);
}

.button:disabled {
	background-color: var(--mid);
}

.card {
	aspect-ratio: 16 / 9;
	display: grid;
	grid-template-areas: 'x';
	padding: 0;
	text-decoration: none;
}

.card-images {
	grid-area: x;
	display: grid;
	grid-auto-flow: column;
}

.card-image {
	background-size: cover;
	background-position: center;
}

.card-title {
	grid-area: x;
	justify-self: start;
	align-self: end;
	background-color: var(--light);
	padding: 0.5em 1em;
	box-shadow: var(--box-shadow);
	transition: background-color 0.3s;
}

.card:hover .card-title {
	background-color: white;
}

.cen {
	place-items: center;
	place-self: center;
	text-align: center;
	margin-inline: auto;
}

.close {
	position: absolute;
	top: 0.5em;
	right: 1em;
	border: 0;
	padding: 0.5em;
}

.close::before {
	content: '×';
	font-size: xx-large;
}

.grid {
	display: grid;
	gap: 2em;
	margin-top: 1em;
	margin-bottom: 3em;
}

@media (min-width: 700px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
